@media screen and (max-width: 1200px)  {

  .da-thumbs li {
      float: none;
      background: #f5f5f5;
      position: relative;
      margin-right: 1px;
      display: block;
      padding: 7px 10px;
  }

}
@media screen and (max-width: 970px) {
  .menu_link{
    display: block;
    float: right;
    height:50px;
    width: 50px;
    background-color: #000;
  }
  .contact_css{

  }
  .da-thumbs{
    display: none;
  }  
}