@media screen and (max-width: 970px) {
  .menu_link{
    display: block;
    float: right;
    height:50px;
    width: 50px;
    background-color: #000;
  }
  .contact_css{

  }
  .da-thumbs{
    display: none;
  }
}